.itinerary-page__outer-container {
    background-color: lightgreen;
    /* border-top-left-radius: 50px; */
    /* border-top-right-radius: 50px; */
}


/* ================================================================= */
/* general info start */
.general-info__outer-container {
    background-color: rgb(255, 183, 157);
    /* border-top-right-radius: 50px; */
    padding-right: 15px;
}

.itinerary-banner-container {
    background-color: yellow;
    margin-left: 300px;
    height: 250px;
    /* border-top-right-radius: 50px; */
}

.itinerary-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-top-right-radius: 50px; */
}

.general-info__title {
    font-size: 20pt;
    position: relative;
    top: -75px;
    left: 10px;
    margin-left: 290px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
/*
.general-info__sDate {
    font-size: 18pt;
}

.general-info__eDate {
    font-size: 18pt;
}

.general-info__notes {
    display: block;
    font-size: 12pt;
} */
/* general info end */
/* ================================================================= */

/* ================================================================= */
/* flight start */
.flight-info__outer-container {
    background-color: lavender;
    padding-right: 15px;
}
/* flight end */
/* ================================================================= */

/* ================================================================= */
/* hotel start */
.hotel-info__outer-container {
    background-color: pink;
    padding-right: 15px;
}
/* hotel end */
/* ================================================================= */

/* ================================================================= */
/* rental car start */
.rentalcar-info__outer-container {
    background-color: rgb(214, 220, 101);
    padding-right: 15px;
}
/* rental car end */
/* ================================================================= */
