.itinerary-page__outer-container {
    background-color: lightgreen;
    /* border-top-left-radius: 50px; */
    /* border-top-right-radius: 50px; */
}

.general-info__outer-container {
    background-color: rgb(255, 183, 157);
    /* border-top-right-radius: 50px; */
}

.flight-info__outer-container {
    background-color: lavender;
}

.hotel-info__outer-container {
    background-color: pink;
}

.rentalcar-info__outer-container {
    background-color: rgb(214, 220, 101)
}
