.itineraries-link {
    display: block;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    min-height: 30px;
    padding-top: 10px;
}

.itineraries-link a {
    color: white;
}
