.landing-page__header-container {
    background-image: url('https://raw.githubusercontent.com/ji-k/itinerari/main/assets/images/6.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 800px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -5;
}

.tag-line {
    color: black;
    font-size: 28pt;
    width: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 150px;
}

.travel-smarter {
    color: black;
    font-weight: 100;
    font-size: 20pt;
    width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 200px;
}

.getStarted-button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 16pt;
    padding: 5px;
    width: 150px;
    position: relative;
    top: 250px;
    margin: 0 auto;
    display: block;
}

.landing-page__features-container {
    background-color:#282828;
    position: absolute;
    top: 800px;
}

.features {
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-top: 50px;
}

.features-details {
    color: white;
    font-weight: 100;
    font-size: 12pt;
    text-align: center;
    margin: 0 15% 0 15%;
}
