/* start - reset css */
html, body, div, span, nav, ul, li, fieldset {
    margin: 0;
	padding: 0;
	border: 0;
}

* {
    color: black;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
/* end - reset css */

body {
    font-family: 'Roboto', sans-serif;
    background-color:#a7a9b6;
}

a {
    cursor: pointer;
}
