.dashboard__outer-container {
    background-color: grey;
    /* width: 100%; */
    /* background-image: url('https://itinerari.s3.amazonaws.com/16.jpg');
    background-repeat: no-repeat;
    background-size:cover;*/
    position: absolute;
    top: 0px;
    /* right: 0px; */
    z-index: -5;
    /* height: 200px; */
    /* width: 100%; */
    /* width: 100vw; */
    /* right: 0px; */
    /* left: 0px; */
    /* display: grid;
    place-content: center; */
    /* margin-left: 20px; */
}

.welcome-msg {
    color: white;
    margin-left: 10px;
    /* font-weight: 500;
    letter-spacing: 2px; */
}

.dashboard__sidebar-outer-container {
    background-color: lightblue;
    width: 300px;
    height: 100vh;
    /* margin-bottom: 20px; */
    /* border-top-left-radius: 50px; */
    float: left;
}

.dashboard__inner-container {
    position: relative;
    top: 50px;
}

.itineraries-link a {
    color: white;
}


.dashboard__main-body-container {
    background-color: lightyellow;
    height: 100vh;
    width: 100vw;
    /* border-top-left-radius: 50px; */
    /* border-top-right-radius: 50px; */
}

.dashboard__sidebar-header-container {
    position: relative;
    top: 10px;
    float: right;
    margin-right: 10px;
}

.dashboard__sidebar-list-container {
    position: relative;
    top: 100px;
}
